<%= form_with(url: listings_path, method: 'get', local: true) do |f| %>
	<%= f.fields_for :search do |ff| %>
		<%= ff.label :location %>
		<%= ff.text_field :location %>
		<br>
		<%= ff.label :check_in %>
		<%= ff.date_select :check_in %>
		<br>
		<%= ff.label :check_out %>
		<%= ff.date_select :check_out %>
		<br>
		<%= ff.label :guests %>
		<%= ff.number_field :guests, min: 1, max: 20 %>
	<% end %>
	<br>
	<%= f.submit "Recherche" %>
<% end %>

<% if params[:search] %>
	<p><%= @search_params %></p>
	<p><%= @ids %></p>
	<%= render @listings %>
<% end %>

