<div id="search_wrapper">
	<%= form_with(url: listings_path, method: 'get', local: true, class: "search_form") do |f| %>
		<%= f.fields_for :search do |ff| %>
			<div class="form_input" id="location">
				<%= ff.label :location %>
				<%= ff.text_field :location, placeholder: "Where are you going?" %>
			</div>
			<div class="form_input">
				<%= ff.label :check_in %>
				<%= ff.date_select :check_in %>
			</div>
			<div class="form_input">
				<%= ff.label :check_out %>
				<%= ff.date_select :check_out %>
			</div>
			<div class="form_input" id="guests">
				<%= ff.label :guests %>
				<%= ff.number_field :guests, min: 1, max: 20 %>
			</div>
		<% end %>
		<div class="submit_button">
			<%= f.submit "Recherche" %>
		</div>
	<% end %>
</div>
<div class="results">
	<% if params[:search] %>
		<%= render @listings %>
	<% end %>
</div>

