<h1>Make a new listing</h1>

<%= form_with(model: @listing, local: true) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= render partial: "form_partials/#{@listing.current_step}", locals: { f: f, location: @listing.build_location} %>
	<br>
	<%= f.submit "Back", name: "back_button" unless @listing.first_step? %>
	<%= f.submit "Continue" unless @listing.current_step == "title" || @listing.last_step? %>
	<%= f.submit "Review Your Information", name: "review" if @listing.current_step == "title" %>
	<%= f.submit "Create Listing", name: "create" if @listing.last_step? %>
<% end %>