<h2>Confirmation</h2>

<p>
	<strong>Type</strong>
	<%= Type.find(@listing.type_id).name %>
</p>

<p>
	<strong>Number of Guests</strong>
	<%= @listing.guests %>
</p>

<p>
	<strong>Number of Beds</strong>
	<%= @listing.beds %>
</p>

<p>
	<strong>Number of Bathrooms</strong>
	<%= @listing.bathrooms %>
</p>

<p>
	<h2>Location</h2>
	<strong>Street Address</strong>
	<%= @location.street_address %>
	<strong>City</strong>
	<%= @location.city %>
	<strong>State</strong>
	<%= @location.state %>
	<strong>Country</strong>
	<%= @location.country_code %>
	<strong>Postal Code</strong>
	<%= @location.postal_code %>
</p>

<p>
	<strong>Spaces</strong>
	<ul>
		<% @spaces.each do |space| %>
			<li><%= space.name %></li>
		<% end %>
	</ul>
</p>

<p>
	<strong>Amenities</strong>
	<ul>
		<% @amenities.each do |amenity| %>
			<li><%= amenity.name %></li>
		<% end %>
	</ul>
</p>

