<h2>Confirmation</h2>

<p>
	<strong>Type</strong>
	<%= @listing.type_id %>
</p>

<p>
	<strong>Number of Guests</strong>
	<%= @listing.guests %>
</p>

<p>
	<strong>Number of Beds</strong>
	<%= @listing.beds %>
</p>

<p>
	<strong>Number of Bathrooms</strong>
	<%= @listing.bathrooms %>
</p>

<p>
	<strong>Location</strong>
	<%= @listing.location %>
</p>

<p>
	<strong>Type</strong>
	<%= @listing.type_id %>
</p>