<div class="card">
	<%= link_to "view", location_path(location) %>
	<h2>Country</h2>
	<p class="card-text">
		<%= location.country %>
	</p>
	<h2>State</h2>
	<p class="card-text">
		<%= location.state %>
	</p>
	<h2>City</h2>
	<p class="card-text">
		<%= location.city %>
	</p>
	<h2>Street</h2>
	<p class="card-text">
		<%= location.street %>
	</p>
	<h2>Street Number</h2>
	<p class="card-text">
		<%= location.street_number %>
	</p>
	<h2>Postal Code</h2>
	<p class="card-text">
		<%= location.postal_code %>
	</p>
</div>