<nav class="navbar">
		<div class="logo-container">
			<a href="/">
				<%= render 'layouts/logo' %>
			</a>
		</div>
		<div class="d-flex justify-content-end" id="user_nav">
			  <ul class="navbar-nav flex-row justify-content-between">
				  <li class="nav-item">
				  	<%= link_to "Host your home", new_listing_path, class: "nav-link" %>
				  </li>
				  <li class="nav-item">
				  	<%= link_to "Host an experience", "#", class: "nav-link" %>
				  </li>
				  <li class="nav-item">
				  	<%= link_to "Help", "#", class: "nav-link" %>
				  </li>
				  <% if user_signed_in? %>
				  	<li class="nav-item dropdown">
				  		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
				  		<ul class="dropdown-menu">
				  			<li><%= link_to "Messages", "#" %></li>
				  			<li><%= link_to "Notifications", "#" %></li>
				  			<li><%= link_to "Trips", "#" %></li>
				  			<li><%= link_to "Saved", "#" %></li>
				  			<li><%= link_to "Manage Listings", "#" %></li>
				  			<li><%= link_to "Account", user_path(current_user) %></li>
				  			<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
				  		</ul>
				  	</li>
				  <% else %>
					  <li class="nav-item">
					  	<%= link_to "Log in", new_user_session_path, class: "nav-link" %>
					  </li>
					  <li class="nav-item">
					  	<%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
					  </li>
					  <li class="nav-item">
					  	<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "nav-link" %>
					  </li>
				  <% end %>
			  </ul>
		</div>
		
</nav>
<div class="d-flex temp">
	<ul class="navbar-nav">
		<li class="nav-item">
			<%= link_to "locations", locations_path %>
		</li>
		<li class="nav-item">
			<%= link_to "listings", listings_path %>
		</li>
		<li class="nav-item">
			<%= link_to "new listing", new_listing_path %>
		</li>
	</ul>
</div>